body{
    font-family: sans-serif;
    background-color: rgb(213, 211, 211);
    margin: 0;
}
.hero{ 
background-image: url(../Imagens/bg-3.jpg);
background-position: center right;
height: 700px;
background-size: cover;

}
.hero-content{
text-align:center;
color: white;
font-size: 20px;
margin-top: 200px;    
}
.hero-content h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow:4px 4px 2px rgb(73, 50, 50);
}
.detalhe{
    background-color: #313130;
    border-bottom: solid white;
    padding: 10px;
    display:inline-block;
}
.card{
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    margin: 1px;
    
}
.card img{
    width: 100%;
    display: block;
}
.pp{
    background-color: rgb(0, 0, 0 , 0.8);
    color:white;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
    
}
.hero nav ul{
    text-align: right;
    margin: 0px;
    padding-top: 10px;
    padding-right: 20px;

}
.hero nav li{
display: inline-block;
list-style:none;
border: 1px solid white;
}
.hero nav a {
    background-color: rgba(135, 132, 132, 0.5);
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

}
.hero nav a:hover{
    background-color: rgba(98, 95, 95, 0.9);
}
main{
    width: 80%;
    margin:auto;
    }
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}
.content-section h2{
    background-color: rgb(213, 211, 211);
    padding: 10px;
    border-bottom-style: solid;
    border-color: rgb(0, 0, 0);
}
footer{
    height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
}